.indent {
    margin-left: 2em;  /* Adjust the indentation value (e.g., 30px for 30 pixels) */
}

.centered-obj {
    margin: 0 auto
}

/*custom body responsive*/
.custom-body {
    background-color: #002449;
    color: rgb(157, 212, 251);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: "Lucida bright";
    font-size: 25px;
}
@media screen and (min-aspect-ratio: 1/1) {
    .custom-body {
      margin-right: 30px;
      margin-left: 30px;
    }
}
@media screen and (min-aspect-ratio: 16/10) {
    .custom-body {
      margin-right: 250px;
      margin-left: 250px;
    }
}
@media screen and (max-width: 480px) {
    .custom-body {
      font-size: 15px;
    }
}


.custom-h1 {
    color: #3273e3;
}  
.custom-h2 {
    color: #3273e3;
}
.custom-h3 {
    color: rgb(157, 212, 251);
}
.custom-hr {
    height: 3px;
    color: white
}
.custom-link {
    color: whitesmoke
}
.custom-code {
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 480px) {
    .custom-code {
        font-size: 15px;
    }
}

/*top bar with my logo and blog name*/
.top-bar {
    background-color: #002449;
    padding: 10px 20px; /* Adjust padding as needed */
    border-bottom: 2px solid #ddd; /* Optional bottom border */
    display: flex; /* Allow horizontal alignment */
    align-items: center; /* Center content vertically */;
}
@media screen and (max-width: 480px) {
    .top-bar {
        padding: 5px 5px; /* Adjust padding as needed */
    }
}
.top-bar img {
    width: 150px;
    height: 150px;
}


.header-title {
    font-size: 100px;
    font-family: "courier";
    width: 1200px;
    margin-left: 50px;
    margin-top: 10px;
}
@media screen and (max-width: 480px) {
    .header-title {
        font-size: 50px /* Adjust padding as needed */
    }
}



.footer {

}


/* class for a blog post displayed on the home page*/
.home-page-post {
    padding: 1px 20px;
    margin-right: 50px;
    margin-left: 50px
}
.home-page-post img {
    width: 300px;
    height: 300px;
    float: right
}
.home-page-post h1 {
    font-size: 30px;
    color: #3273e3;
    text-decoration: none
}
.home-page-post p {
    font-size: 23px;
    color: white;
    text-decoration: none
}