.custom-body {
    margin-left: 200px;
    margin-right: 700px;
}
@media only screen and (max-width: 768px) {
  .custom-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.custom-code {
    font-family: monospace;
    font-size: 16px;
}
.code-div {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #bac5bd;
}
.indent-div {
    margin-left: 2em;
}
.inline-code {
    padding: 0px 5px;
    font-size: 16px;
}

.page-header {
    text-align: center;
}

.custom-li {
    padding-bottom: 10px
}

.custom-link {
    text-decoration: none;
}
.custom-link-big {
    text-decoration: none;
    font-size: 23px;
}

.about-me {
    background-color: #bac5bd;
    padding: 20px;
}
